*{
    padding: 0;
    margin: 0;
}
.box{
    border: 2px solid black;
    width: 100%;
    
}
.head{
    display: flex;
    height: 75px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* justify-content: space-between;
    justify-content: space-around; */ 
}
.echo{
    width:40% ;
    margin-left: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: weight 900px;
}
.link{
    width: 50%;
    display: flex;
    height: 75px;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;
}
.home{
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}
.drop{
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.about{
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.faq{
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.contact{
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.but1{
    border-radius: 20px;
    height: 40px;
    width: 150px;
    background-color: rgb(3, 3, 45);
    color: aliceblue;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}
.but1:hover{
    background-color: aliceblue;
    color: blue;
    transition: 0.58s;
}
.head.link{
    display: flex;
    justify-content: space-between;
}
.link1{
    text-decoration: none;
}
.but2{
    border-radius: 20px;
    border: none;
    height: 30px;
    width: 200px;
    background-color: rgb(235, 219, 133);
    color: rgb(234, 131, 13);
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 100px;
    margin-left: 100px;
  
}
.expert{
    margin-left: 100px;
    margin-top: 20px;
}
.para{
    text-align: justify;
    margin-left: 100px;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.box1{
    width: 50%;
}
.box2{
    display: flex;
}
.box3{
    width: 50%;
    display: flex;
    justify-content:flex-end;
    
}
.but34{
    display: flex;
}
.but3{
    border-radius: 20px;
    height: 30px;
    width: 120px;
    background-color: rgb(39, 23, 77);
    color: rgb(240, 237, 235);
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
    margin-left: 100px;
  
}
.but3:hover{
    background-color: aliceblue;
    color: blue;
    transition: 0.58s;
}
.but4{
    border-radius: 20px;
    height: 30px;
    width: 120px;
    background-color: rgb(234, 232, 240);
    color: rgb(34, 15, 27);
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
    margin-left: 30px;
  
}
.but4:hover{
    background-color: rgb(7, 39, 67);
    color: rgb(228, 228, 238);
    transition: 0.58s;
}
.features{
    margin: auto;
    /* border: 2px solid black; */
    height: 150px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    justify-content: space-between;
}
.but5{
    border-radius: 20px;
    border: none;
    height: 30px;
    width: 100px;
    background-color: rgb(235, 219, 133);
    color: rgb(234, 131, 13);
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
.ourfe{
    /* text-align: center; */
    color: blue;
    font-style: normal;
    font-family:'Times New Roman', Times, serif;
}
.p2{
    text-align: center;
}
.three{
    margin: auto;
    /* border: 2px solid black; */
    height: 300px;
    width: 80%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    /* justify-content: center; 
    align-items: center; */
    /* justify-content: space-around; */
}
.analysis{
    flex:1;
    /* border: 2px solid black; */
}
.digital{
    flex:1;
    /* border: 2px solid black; */
}
.seo{
    flex:1;
    /* border: 2px solid black; */
}
.icon1{
    margin-left: 180px;
    margin-top: 20px;
    /* width: 200%; */
    justify-content: center;
    align-items: center;
}
.maan{
    margin-top: 20px;
    text-align: center;
    font-style: normal;
    font-size: larger;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.p3{
    margin-top: 20px;
    text-align: center;
    font-style: normal;
    font-size: larger;
}
.box5{
    width: 100%;
    height: 500px;
    display: flex;  
}
.img2{
    /* border: 2px solid black;  */
    width: 60%;
    margin-left: 60px;
    /* display: flex; */
    justify-content:flex-end;
}
.abot{
    /* border: 2px solid black;  */
    width: 38%;
}
.but6{
    border: none;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 20px;
    height: 30px;
    width: 100px;
    background-color: rgb(235, 219, 133);
    color: rgb(234, 131, 13);
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .why{
    margin-top: 20px;
    margin-left: 20px;
    /* text-align: center; */
    font-style: normal;
    font-size: larger;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.p4{
    margin-top: 20px;
    margin-left: 20px;
    /* text-align: center; */
    font-style: normal;
    font-size: larger;
}
.list{
    margin-top: 20px;
    margin-left: 40px;
    /* text-align: center; */
    font-style: normal;
    font-size: larger;
}
.but7{
    border-radius: 20px;
    height: 30px;
    width: 120px;
    background-color: rgb(39, 23, 77);
    color: rgb(240, 237, 235);
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 40px;
    margin-left: 130px;
  
}
.our{
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    color: blue;
    /* font-style: normal; */
    /* font-size: larger; */
    font-style: normal;
    font-family:'Times New Roman', Times, serif;
    /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}
.but8{
    border: none;
    margin-top: 50px;
    margin-left: 720px;
    border-radius: 20px;
    height: 30px;
    width: 100px;
    background-color: rgb(235, 219, 133);
    color: rgb(234, 131, 13);
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .boxes{
    /* border: 2px solid black; */
    width: 60%;
    height: 600px;
    display: flex;  
    margin: auto;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;

}
.boxes1{
    /* border: 2px solid black; */
    width: 98%;
    height: 200px;
    margin-top: 20px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;
}
.boxes11{
    border: 1px solid rgb(230, 244, 170);
    width: 45%;
    height: 160px;
    display: flex;
    flex-direction: row;
    /* margin-top: 20px;  */
}
.boxes111{
    /* border: 2px solid black; */
    width: 30%;
    height: 150px;
    /* margin-top: 20px;  */
}
.shield{
    font-size: 50px;
    margin-top: 40px;
    margin-left: 30px;
}
.boxes112{
    /* border: 2px solid black; */
    width: 69%;
    height: 150px;
    /* margin-top: 20px;  */
}
.boxes12{
    border: 1px solid rgb(230, 244, 170);
    width: 45%;
    height: 160px;
    display: flex;
    flex-direction: row;
    /* margin-top: 20px;  */
}
.boxes121{
    /* border: 2px solid black; */
    width: 30%;
    height: 150px;
    /* margin-top: 20px;  */
}
.shield1{
    font-size: 50px;
    margin-top: 40px;
    margin-left: 30px;
}
.boxes122{
    /* border: 2px solid black; */
    width: 69%;
    height: 150px;
    /* margin-top: 20px;  */
}
.boxes2{
    /* border: 2px solid black; */
    width: 98%;
    height: 200px;
    margin-top: 20px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;
}
.boxes21{
    border: 1px solid rgb(230, 244, 170);
    width: 45%;
    height: 160px;
    display: flex;
    flex-direction: row;
    /* margin-top: 20px;  */
}
.boxes211{
    /* border: 2px solid black; */
    width: 30%;
    height: 150px;
    /* margin-top: 20px;  */
}
.shield2{
    font-size: 50px;
    margin-top: 40px;
    margin-left: 30px;
}
.boxes212{
    /* border: 2px solid black; */
    width: 69%;
    height: 150px;
    /* margin-top: 20px;  */
}
.boxes22{
    border: 1px solid rgb(230, 244, 170);
    width: 45%;
    height: 160px;
    display: flex;
    flex-direction: row;
    /* margin-top: 20px;  */
}
.boxes221{
    /* border: 2px solid black; */
    width: 30%;
    height: 150px;
    /* margin-top: 20px;  */
}
.shield3{
    font-size: 50px;
    margin-top: 40px;
    margin-left: 30px;
}
.boxes222{
    /* border: 2px solid black; */
    width: 69%;
    height: 150px;
    /* margin-top: 20px;  */
}
.boxes3{
    /* border: 2px solid black; */
    width: 98%;
    height: 200px;
    margin-top: 20px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;
}
.boxes31{
    border: 1px solid rgb(230, 244, 170);
    width: 45%;
    height: 160px;
    display: flex;
    flex-direction: row;
    /* margin-top: 20px;  */
}
.boxes311{
    /* border: 2px solid black; */
    width: 30%;
    height: 150px;
    /* margin-top: 20px;  */
}
.shield4{
    font-size: 50px;
    margin-top: 40px;
    margin-left: 30px;
}
.boxes312{
    /* border: 2px solid black; */
    width: 69%;
    height: 150px;
    /* margin-top: 20px;  */
}
.boxes32{
    border: 1px solid rgb(230, 244, 170);
    width: 45%;
    height: 160px;
    display: flex;
    flex-direction: row;
    /* margin-top: 20px;  */
}
.boxes321{
    /* border: 2px solid black; */
    width: 30%;
    height: 150px;
    /* margin-top: 20px;  */
}
.shield5{
    font-size: 50px;
    margin-top: 40px;
    margin-left: 30px;
}
.boxes322{
    /* border: 2px solid black; */
    width: 69%;
    height: 150px;
    /* margin-top: 20px;  */
}
.boxess{
    /* border: 2px solid black; */
    background-color: rgb(172, 168, 175);
    width: 100%;
    height: 600px;
    /* display: flex;   */
    /* margin: auto; */
    /* flex-direction:column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around; */

}

.but9{
    border: none;
    margin-top: 20px;
    margin-left: 700px;
    border-radius: 20px;
    height: 30px;
    width: 100px;
    background-color: rgb(235, 219, 133);
    color: rgb(234, 131, 13);
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  .test{
    margin-top: 20px;
    /* margin-left: 20px; */
    text-align: center;
    color: blue;
    /* font-style: normal; */
    /* font-size: larger; */
    font-style: normal;
    font-family:'Times New Roman', Times, serif;
    /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}
.boxess1{
    margin-top: 20px;
    /* border: 2px solid black; */
    width: 100%;
    height: 350px;
    display: flex;  
    /* margin: auto; */
    flex-direction:row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;

}
.boxess11{
    border: 2px solid rgb(166, 151, 151);
    background-color: aliceblue;
    border-radius: 20px;
    width: 30%;
    height: 300px;
    display: flex;  
    flex-direction:column;
}
.bo1{
    /* border: 2px solid black; */
    width: 100%;
    height: 200px;
}
.bo2{
    /* border: 2px solid black; */
    width: 100%;
    height: 90px;
    display: flex; 
    flex-direction:row; 
}
.bo21{
    /* border: 2px solid black; */
    width: 20%;
    height: 90px;
}
.profile{

        font-size: 40px;
        /* margin: auto; */
        margin-top: 25px;
        margin-left: 25px;
    
}
.bo22{
    /* border: 2px solid black; */
    width: 80%;
    height: 90px;
}
.boxess12{
    border: 2px solid rgb(166, 151, 151);
    background-color: aliceblue;
    border-radius: 20px;
    width: 30%;
    height: 300px;
    display: flex;  
    flex-direction:column;
}
.boxess13{
    border: 2px solid rgb(166, 151, 151);
    background-color: aliceblue;
    border-radius: 20px;
    width: 30%;
    height: 300px;
    display: flex; 
    flex-direction:column; 
}
.footer{
    /* border: 2px solid black; */
    background-color: white;
    width: 100%;
    height:200px;
    display: flex;  
    /* margin: auto; */
    flex-direction:row;
    /* justify-content: center;
    align-items: center; */
    justify-content: space-between;
    justify-content: space-around;

}
.b1{
    flex:2;
    /* border: 2px solid rgb(27, 22, 17); */

    
}
.b2{
    flex:1;
    /* border: 2px solid rgb(27, 22, 17);    */
}
.b3{
    flex:1;
    /* border: 2px solid rgb(27, 22, 17);    */
}
.b4{
    flex:2;
    /* border: 2px solid rgb(27, 22, 17); */
    
}
.footbox{
    height: 150px;
    width: 100%;
}