*{
    padding: 0;
    margin: 0;
}
.box{
    border: 2px solid rgb(246, 244, 244);
    height: 500px;
    width: 100%;
}
.box1{
    border: 2px solid rgb(251, 251, 251);
    background-color: rgb(194, 240, 251);
    height: 100px;
    width: 100%;
    display: inline-block;
}
.box2{
    border: 2px solid rgb(251, 251, 251);
    background-color: rgb(194, 240, 251);
    height: 300px;
    width: 100%;
    display: inline-block;
}
.box21{
    border: 2px solid rgb(251, 251, 251);
    background-color: rgb(194, 240, 251);
    height: 300px;
    width: 60%;
    display: inline-block;
}
.box22{
    border: 2px solid rgb(251, 251, 251);
    background-color: rgb(194, 240, 251);
    height: 300px;
    width: 39%;
    display: inline-block;
}
.box221{
    border: 2px solid rgb(251, 251, 251);
    background-color: rgb(194, 240, 251);
    height: 200px;
    width: 100%;
    display: inline-block;
}
.box222{
    border: 2px solid rgb(251, 251, 251);
    background-color: rgb(235, 224, 14);
    height: 100px;
    width: 100%;
    display: inline-block;
}
.box3{
    border: 2px solid rgb(251, 251, 251);
    background-color: rgb(194, 240, 251);
    height: 100px;
    width: 100%;
    display: inline-block;
}
.box4{
    border: 2px solid rgb(251, 251, 251);
    background-color: rgb(194, 240, 251);
    height: 80px;
    width: 100%;
    display: inline-block;
}
.box41{
    border: 2px solid rgb(251, 251, 251);
    background-color: rgb(194, 240, 251);
    height: 80px;
    width: 60%;
    display: inline-block;
}
.box42{
    border: 2px solid rgb(251, 251, 251);
    background-color: rgb(235, 224, 14);
    height: 80px;
    width: 39%;
    display: inline-block;
}
.box5{
    border: 2px solid rgb(251, 251, 251);
    background-color: rgb(194, 240, 251);
    height: 80px;
    width: 100%;
    display: inline-block;
}


