*{
    padding: 0;
    margin: 0;
}
.doc1{
    border: 2px solid red;
    border: none;
    margin-top: 140px;
    margin-left: 650px;
    margin-right: 650px;
    height: 195px;
    width: 11%;
    background-color: aquamarine;
    
}
.doc2{
    margin-top: 1px;
    text-align: center;

}
.doc3{
    width: 120px;
    height: 30px;
    color: rgb(211, 197, 197);
    background-color: rgb(9, 6, 2);
    margin-left: 25px;
    margin-top: 30px;
    
}